body {
    min-width: 1000px;
    height: 100%;
}

.menu-bar {
    height: 32px;
    text-align: end;
    font-size: 14px;
    box-shadow: 1px 1px #e7e7e7;
    display: flex;
    justify-content: space-between;
}

.menu-bar-weather {
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-bar-weather > span {
    margin-right: 10px;
}

.weather-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.menu-bar-weather:first-child {
    margin-left: 20px;
}

.menu-bar-weather > em {
    margin-right: 10px;
    font-style: normal;
}

.menu-bar-weather > .air-quanlity {
    color: #399fbf;
}

.menu-bar-weather > a:nth-last-child(n+2) {
    margin-right: 20px;
}


.menu-bar-btn {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.menu-bar-btn > a:nth-last-child(n+2) {
    color: #555;
    font-weight: bold;
    margin-right: 25px;
}

.menu-bar-btn > a:last-child {
    background-color: #398bfb;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 86px;
    text-align: center;
    line-height: 32px;
}

.mainfocus {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo > img {
    width: 270px;
    height: 129px;
}

.search-wrapper {
    box-sizing: border-box;
    width: 536px;
    height: 40px;
    border: #eee solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-text-input {
    box-sizing: border-box;
    border: none;
    outline-style: none;
    width: 450px;
    height: 36px;
    padding: 0 10px 0 10px;  
}

.mic {
    margin-right: 16px;
    height: 34px;
    width: 24px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAASCAYAAACAa1QyAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAVlpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KTMInWQAAAXlJREFUKBW9kr1Kw1AUx5OYVWiRGqqLiPgIios4qg+QobhI7QdYH6CKk4IPUCRNQhFRHPIAnRykIIqre7cMsUMHp0Jt/J2ShiYWxx44/M/53/N17z2qkhLbtgtQl+g62kWvKpXKExiLFlsYzWbzCLgOw7A2HA6XVFU9Ez/i41A9tjAIutA0rVAqld4j/tl13cJoNLrHf5zEJjpBbvq+/zE5FIz8jWkuYXOfMEFETppPd5qV84ebX5Iu82azWd00zR+Zg+fmEdWZd/M8b6Hf7w9kvKDX661Eg3cdx9mK7DFQdBtDPlkhYRUI5J86uq4fgA4d6nR6sCzrOAiCN8MwduDvhAdF9tFX/lJrYNRbrdZiuVz2SDqHs/P5/EBQfOHlXOIkXsVQGMnicI2OZrFY/BZuWiSBtfLo6FPgZLxGmUymxrwNDj65ww3YzuVycleDQof4Ml6bONlFZdxpUpXF3MU+peIeuIx+McELeFutVjvg/5Jeneno+W3ELz3Rmg23qA6NAAAAAElFTkSuQmCC) no-repeat center
}

.mic::after {
    content: '';
    height: 14px;
    width: 0;
    display: inline-block;
    margin: 10px 0 10px 30px;
    border-left: #e7e7e7 1px solid;
}

.soutu-btn {
    margin-right: 16px;
    height: 16px;
    width: 22px;
    background: #fff url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/camera_new_5606e8f.png) no-repeat;
}

.search-btn {
    width: 102px;
    height: 40px;
    border-style: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
}

/* 推荐 */
.recom-content-wrapper {
    width: 895px;
    margin: 0 auto;
}

.recom-content-in {
    display: flex;
    flex-direction: column;
}

.recom-nav-bar {
    display: flex;
    align-items: center;
    border: #e7e7e7 solid 1px;
}

.nav-btn {
    border: none;
    outline-style: none;
    font-size: 16px;
    width: 80px;
    height: 39px;
}

.nav-btn::selection {
    color: white;
    background-color: #9a9da2;   
}

.nav-btn:hover {
    color: white;
    background-color: #a7a7a7;
}

.nav-my-fav {
    width: 124px;
}

.nav-my-fav::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mancard/img/card_setts_fdb17359.png) no-repeat -15px 0;
}

.nav-settings {
    margin-left: auto;
    margin-right: 10px;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    background: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mancard/img/card_setts_fdb17359.png) no-repeat -121px -49px;
}

.nav-settings:hover {
    background: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mancard/img/card_setts_fdb17359.png) no-repeat -121px -49px; 
}

.recom-content {
    display: flex;
}

.feeds {
    flex: 1;
}

/* 右边热点 */
.hot-spot {
    box-sizing: border-box;
    width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}


.hot-spot-title {
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hot-spot-title > h2 {
    font-size: 14px; 
}

.hot-spot-title > a {
    font-size: 14px;
    text-decoration: none;
}

.hot-spot-title > a::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/mantpl/img/news/news_88aeb6fe.png) -23px -25px no-repeat;
}

.hot-spot > ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
}

.hot-spot > ul > li {
    display: inline-block;
    line-height: 34px;
    width: 145px;
    height: 34px;
}

.hot-spot a {
    text-decoration: none;
}